* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#gallows {
  height: 67vh;
  margin: 0px;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}
.display {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.num-input {
  padding: 0px;
  margin-left: 10px;
  width: 4vw;
  border: 3px solid black;
}
.word-input {
  border-bottom: 3px solid black;
  width: 35px;
  height: 35px;
  margin: 5px;
}
.bold-text {
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
}
.submit-button {
  display: flex;
  justify-content: center;
  width: 12vw;
  margin-top: 2vh;
  border: 3px solid black;
  padding: 5px;
  background-color: rgb(242, 242, 242);
}
.submit-button:hover {
  cursor: pointer;
}
.align-horizontal {
  display: flex;
  flex-direction: row;
}
.align-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-wrapper {
  display: flex;
  justify-content: center;
}
.invalid-text {
  text-align: center;
}
.submit-boxes {
  display: flex;
  flex-direction: row;
}
.guess {
  display: flex;
}
input[type="text"][disabled] {
  background-color: white;
}
#invalid-text {
  margin-top: 2vh;
  font-weight: bold;
  color: rgb(217, 104, 104)
}
#header-text {
  font-size: 45px;
  margin: 0px;  
}
#length-label {
  align-self: flex-start;
  margin: 0px;
  padding-top: 1px;
}
#input {
  width: 100%;
  height: 100%;
  border: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 0px;
  align-self: flex-end;
}
#input:focus{
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}